---
const EXPERIENCIA = [
    {
        title: "42 Madrid",
        tipo: "Estudiante",
        empresa: "Fundación Telefónica",
        fecha: "2024 - Actualidad",
        descripcion: "Estudiante de programación en la escuela 42 Madrid",
    },
    {
        title: "Junior Front End Developer Angualr",
        tipo: "Prácticas",
        empresa: "Neoris",
        fecha: "Abril 2024 - Actualidad",
        descripcion:
            "Desarrollo de aplicaciones web con Angular, HTML, CSS y JavaScript",
    },
    {
        title: "Formación Profesional Desarrollo de Aplicaciones Web",
        tipo: "Estudiante",
        empresa: "UNIR",
        fecha: "2023 - 2024",
        descripcion: "Estudiante de FP Desarrollo de Aplicaciones Web",
    },
    {
        title: "Desarrollador Software",
        tipo: "Prácticas",
        empresa: "Wetaxi Madrid",
        fecha: "Marzo 2023 - Junio 2023",
        descripcion:
            "Desarrollo de aplicaciones para la gestión de talleres de reparación de vehículos",
    },
    {
        title: "Formación Profesional Desarrollo de Aplicaciones Multiplataforma",
        tipo: "Estudiante",
        empresa: "Centro Europeo de Estudios Profesionales",
        fecha: "2021 - 2023",
        descripcion:
            "Estudiante de FP Desarrollo de Aplicaciones Multiplataforma",
    },
    {
        title: "Desarrollador Web",
        tipo: "Prácticas",
        empresa: "Vortex Dimensión Digital",
        fecha: "Marzo 2021 - Junio 2021",
        descripcion: "Desarrollo de paginas web con Wordpress",
    },
    {
        title: "Formación Profesional Sistemas Microinformáticos y Redes",
        tipo: "Estudiante",
        empresa: "CESUR Madrid",
        fecha: "2019 - 2021",
        descripcion: "Estudiante de FP Sistemas Microinformáticos y redes",
    },
];
---

<div class="pb-5 w-full">
    <div class="w-full flex justify-center bg_2pattern py-1">
        <h2 class="text-white
			text-5xl
			font-extrabold
			uppercase
			text_shadow">
            Experiencia
        </h2>
    </div>
    <div class="flex pr-4 pl-4 pt-7 pb-16 flex-col">
        {
            EXPERIENCIA.map((exp) => {
                return (
                    <div class="flex">
                        <div class="flex flex-col relative">
                            <span class="absolute left-0 top-2 w-4 h-4 bg-carrot" />
                            <span class="w-1 h-full bg-carrot" />
                        </div>
                        <div class="exp pl-4">
                            <h3 class=" text-2xl text-white font-bold">
                                {exp.tipo}
                                {exp.title}
                            </h3>
                            <p class="text-white font-bold">{exp.fecha}</p>
                            <p class="text-white">{exp.empresa}</p>
                            <p class="text-white">{exp.descripcion}</p>
                        </div>
                    </div>
                );
            })
        }
    </div>
</div>
